@font-face {
		font-family: "play";
		src: url("../fonts/PlayRegular/PlayRegular.eot");
		src: url("../fonts/PlayRegular/PlayRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PlayRegular/PlayRegular.woff") format("woff"),
		url("../fonts/PlayRegular/PlayRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "playbold";
		src: url("../fonts/PlayBold/PlayBold.eot");
		src: url("../fonts/PlayBold/PlayBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/PlayBold/PlayBold.woff") format("woff"),
		url("../fonts/PlayBold/PlayBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

body{
	font-family: 'play';
	font-size: 16px;
	color: #342109;
}
/*---------------------------header---------------------------*/
header{
	padding: 25px 0 20px 0;
}

.logo{
	width: 115px;
	float: left;
}

.header_contact_info{
	text-align: center;
}

.slogan{
	font-family: 'playbold';
	color: #000000;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
	font-size: 28px;
}

.phone_header{
	font-size: 20px;
	padding: 20px 0 0 0;
}

.phone_header span{
	font-family: 'playbold';
}

.header_info{
	text-align: center;
	width: 90%;
}

.info_d{
	font-size: 20px;
	margin: 0 0 20px 0;
}

.backet{
	width: 10%;
	float: right;
	text-align: center;
}
.backet a{
	display: block;
	background: url('../images/packeg.png')no-repeat top center;
	height: 45px;
	background-size: 84%;
	padding: 15px 0 0 0;
	width: 40px;
	color: #ffffff;
	text-decoration: none;
}

.clock_elem{
	float: left;
	width: 22%;
	font-size: 29px;
    line-height: 0.5;
    padding: 8px 0 8px 0;;
}

.clock_d{
	width: 17%;
}

.clock_elem span{
	font-size: 12px;
}

.clock_action_body{
	overflow: hidden;
    margin: 0 auto;
    width: 200px;

}
/*---------------------------menu---------------------------*/
.menu{
	height: 40px;
	overflow: hidden;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
	background: url('../images/menu_bg.png')center bottom repeat-x;
}

.menu ul{
	margin: 6px 0 0 0;
}

.menu ul li{
	float: left;
}

.menu ul li a{
	font-size: 20px;
	cursor: pointer;
	border-right: 1px solid #ffffff;
	padding: 10px 26px;
	color: #342109;
	transition: background-color 0.4s ease 0s;
}

.menu ul li:last-child a{
	border-right: none;
}

.menu ul li a:hover{
	text-decoration: none;
	background: #a9875f url('../images/menu_bg_activ.png')repeat-x top center;
}


.menu ul .current-menu-item a{
	color: #ffffff;
	background: rgba(85, 54, 15, 1) url('../images/menu_bg_activ.png')repeat-x top center;
}

ul.sub-menu{
	z-index: 1000;
	position: absolute;
	top: 40px;
	display: block;
	background: #ffffff;
	display: none;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}

ul.sub-menu li{
	float: none;
	height: 34px;
	display: block;
}

.menu-item-has-children{

}

ul.sub-menu li a{
	font-size: 18px;
	border-right: none;
	padding: 0;
	padding: 5px 15px;
	width: 100%;
	display: block;
	text-align: center;
}